<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoSuite">
	<listeners>
		<!-- Specify the correct package and class name of your listener -->
		<listener
			class-name="GlobalexceptionHandler.GlobalExceptionHandler" />
		<listener
			class-name="sampleTestNG.TestSuit.configurationsetup" />
	</listeners>

	<test thread-count="5" name="OrangeHRMLogin">
		<parameter name="username" value="Admin" />
		<parameter name="password" value="admin123" />

		<classes>
			<class name="sampleTestNG.TestSuit.FirstTest">
				<methods>
					<include name="LeaveApplication"></include>
				</methods>
			</class>
			<class name="sampleTestNG.TestSuit.PIMmodule">
				<methods>
					<include name="AddNewEmployee"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
